@CHARSET "ISO-8859-1";

body {
	font: normal normal normal 10px Arial, Helvetica, Verdana, Times;
}

input,select {
	margin: 5px;
	align: centre
}

div,span{
	display: block;
	margin: 0;
	padding: 0
}

h1,h2 {
	color: #0000a0
}

br {
	padding: 2px;
	clear: both
}

a img {
  border: 0;	
}

a:link {
	color: #0000FF;
}

a:visited {
	color: #0000FF;
}

a:hover {
	color: #FF0000;
}

a:active {
	color: #0000FF;
}

.floatleft {
	float: left
}

.floatright {
	float: right
}

.leftpad {
	padding-left: 10px
}

.toppad {
	padding-top: 10px
}

.full {
	width: 1000px;
	clear: both;
	margin: 0 auto;
}

.half {
	width: 500px;
	clear: both
}

.center {
	margin: auto;
	width: 50%
}

.bold {
	font-weight: bold
}

.error {
	padding: 10px;
	border: 1px solid #FA5858;
	color: #DF0101;
	background-color: #FFCDD2
}

/*------New CSS--------*/

.alignCenter {
 text-align: center;
}

.clearRight {
	clear: right
}

#header {
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 1px;
  height: 60px;
  width: 850px;
}

.title {
 float: left;
 width: 800px;
 text-align: center;
 padding: 0 10px;
 margin-top: -3px;
}

.label {
  font: bold 11px Arial, Helvetica, Verdana, "Times New Roman";
  display: inline-block;
  width: 100px;
  text-align: right;
}
.loginHolder {
  width: 300px;
  margin: 0 auto;
}

.caption {
  font: bold 1.2em;
  text-align: center;
  color: #0000A0;
  padding-bottom: 15px;
}

.messages {
 font: bold 1.2em;
 text-align: center;
 color: #FF0000;
 padding-bottom: 15px;
}

tr.headers th {
  color: #0000A0;
  padding: 7px;
  border: 1px solid #C1C1C1;
}
tr.tableData td {
  padding: 4px;
  border: 1px solid #C1C1C1;
}
tr.label th{
  font: bold 11px Arial, Helvetica, Verdana, "Times New Roman";
  text-align: right;
}

.successMessage {
 font: bold 1.2em;
 text-align: center;
 color: #0000A0;
 padding-bottom: 15px;
}

.modalError {
 font: bold 1.2em;
 text-align: left;
 color: #FF0000;
 padding-bottom: 05px;
}
