# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout, even on Windows.
*.txt text eol=lf
*.erb text eol=lf
*.sh text eol=lf
*.pp text eol=lf
*.setup text eol=lf
*.conf text eol=lf
*.ldif text eol=lf
*.xml text eol=lf
