# Declare files that will always have CRLF line endings on checkout.
*.txt text eol=crlf
*.erb text eol=crlf
*.sh text eol=crlf
*.pp text eol=crlf
*.setup text eol=crlf
*.conf text eol=crlf
*.ldif text eol=crlf
*.xml text eol=crlf
