<div class="risk-container overlay-10 padded-content-page" layout="column">

    <div layout="row" layout-sm="column" layout-margin>
        <widget palette-background="deep-orange:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <ng-md-icon icon="people" style="fill: #abcdef" size="52" options='{"rotation": "counterclock"}' ></ng-md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="1944" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0">{{'RISK.CLUSTER.CLUSTER1' | translate}}</p>
            </div>
        </widget>

        <widget palette-background="cyan:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <ng-md-icon icon="people" style="fill: #abcdef" size="52" options='{"rotation": "counterclock"}' ></ng-md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="931" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0">{{'RISK.CLUSTER.CLUSTER2' | translate}}</p>
            </div>
        </widget>

        <widget palette-background="indigo:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <ng-md-icon icon="people" style="fill: #abcdef" size="52" options='{"rotation": "counterclock"}' ></ng-md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="298" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0">{{'RISK.CLUSTER.CLUSTER3' | translate}}</p>
            </div>
        </widget>

        <widget palette-background="teal:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <ng-md-icon icon="people" style="fill: #abcdef" size="52" options='{"rotation": "counterclock"}' ></ng-md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="4723" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0">{{'RISK.CLUSTER.CLUSTER4' | translate}}</p>
            </div>
        </widget>

        <widget palette-background="yellow:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <ng-md-icon icon="people" style="fill: #abcdef" size="52" options='{"rotation": "counterclock"}' ></ng-md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="445" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0">{{'RISK.CLUSTER.CLUSTER5' | translate}}</p>
            </div>
        </widget>

        <widget palette-background="green:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <ng-md-icon icon="people" style="fill: #abcdef" size="52" options='{"rotation": "counterclock"}' ></ng-md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="1073" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0">{{'RISK.CLUSTER.CLUSTER6' | translate}}</p>
            </div>
        </widget>

        <widget palette-background="deep-purple:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <ng-md-icon icon="people" style="fill: #abcdef" size="52" options='{"rotation": "counterclock"}' ></ng-md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="994" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0">{{'RISK.CLUSTER.CLUSTER7' | translate}}</p>
            </div>
        </widget>
    </div>

    <div layout="row" layout-sm="column" layout-margin>
        <widget flex d3-Cluster-Widget title="{{'RISK.CLUSTER.CLUSTER' | translate}}" subtitle="{{'RISK.CLUSTER.DATE' | translate}}" content-padding>
            <div flex>
                <div d3-cluster class="scatter-3"></div>
            </div>
        </widget>

        <widget flex load-data-widget="{ clusterdeatil: 'app/risk/data/clusterdetail.json' }" title="{{'RISK.CLUSTER.MOSTFREQCOND' | translate}}" subtitle="{{'RISK.CLUSTER.DATE' | translate}}" content-padding>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-repeat="header in clusterdeatil.header | limitTo:3">{{header}}</th>
                    </tr>
                </thead>
                <tbody class="md-caption">
                    <tr ng-repeat="deatil in clusterdeatil.data | limitTo:7">
                        <td ng-repeat="data in deatil | limitTo:3">{{data}}</td>
                    </tr>
                </tbody>
            </table>
        </widget>
    </div>

