// Risk

$primary-color: #28BD8B;
$secondary-color: #1E5684;
$tertiary-color: #EA5A5A;
$gray1: #313541;
$gray2: #282C37;
$gray3: #1F222D;
$gray4: #6A7583;

// Risk Container
.risk-container {
  [layout-margin] {
    margin: 1px;
  }
}
// - Chart Container
.risk-fullwidth-chart {
  .chart-container {
    position: relative; left: -5px;
    bottom: -5px;
    width: calc(100% + 10px);
  }
}

.risk-no-bar-tabs {
  md-tabs-wrapper {
    display: none;
  }
}
.google-chart {
  height: 100%;
  width: 100%;
}

// Social Risk
.tabs-tall {
  md-pagination-wrapper, md-tabs-canvas {
    height: 72px;
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.risk-charts {
  display: flex;
  position: relative; left: -5px;
  bottom: -5px;
  width: calc(70% - 10px);
  height: calc(70% - 10px);
  justify-content: space-around;
  h4 {
    color: white;
    text-align: center;
    padding-bottom: 2em;
    border-bottom: 1px solid $gray3;
  }
  @media (max-width: 800px) {
    flex-flow: column wrap;
  }
  .risk-chart-container {
    border-radius: 6px;
    flex: 1;
    margin: 2em 3em 2em 3em;
    padding: 2em;
    @media (max-width: 800px) {
      margin: 4em 4em 4em 4em;
    }
  }
}

.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'robotoregular';
    font-size: 11px;
    fill: white;
}


scatter{
    display: block;
    z-index: 0;
    overflow: hidden;
    font-size: 10px;
}

d3ClusterWidget{
    display: block;
    z-index: 0;
    overflow: hidden;
    font-size: 10px;
}


.scatter-1{
    width: 30%;
}
.scatter-2{
    width: 70%;
}
.scatter-3{
    width: 100%;
}
.scatter-1, .scatter-2, .scatter-3{
    height: 70%;
    float: left;
}
