<div class="padded-content-page">
        <md-content class="padding-40">

            <md-card>

                    <div layout layout-sm="column">
                        <md-input-container flex>
                        <label>Patient ID</label>
                        <input ng-model="patient.id">
                        </md-input-container>
                        <md-select placeholder="Cluster" ng-model="userCluster">
                            <md-option ng-repeat="cluster in clusters" value="{{cluster.abbrev}}">{{cluster.abbrev}}</md-option>
                        </md-select>
                    </div>

                    <table  object-table 
                            data="rankPaging.data" 
                            data="exportDataVariable" 
                            display="15" 
                            headers="Patient,Risk Rank,Cluster"
                            fields="PTID,rank,clustername"
                            add-filter="| filter: {'PTID':$owner.patient.id} |filter:{'clustername':$owner.userCluster}"
                            search="false"
                            sorting="compound">
                        <tbody>
                            <tr>
                                <td>{{::item.PTID}}</td>
                                <td>
                                    <span class="label label-danger">{{::item.rank}}</span>                         
                                </td>
                                <td>{{::item.clustername}}</td>
                            </tr>
                        </tbody>
                    </table>


            </md-card>
        </md-content>
</div>
