.Line_1{
    stroke:#FF0000;
    fill:#FF0000;
    background-color:#FF0000;
}
.Line_2{
    stroke:#FF6319;
    fill:#FF6319;
    background-color:#FF6319;
}
.Line_3 {
    stroke:#6CBE45;
    fill:#6CBE45;
    background-color:#6CBE45;
}
.Line_4{
    stroke:#996633;
    fill:#996633;
    background-color:#996633;
}
.Line_5 {
    stroke:#A7A9AC;
    fill:#A7A9AC;
    background-color:#A7A9AC;
}
.Line_6 {
    stroke:#FCCC0A;
    fill:#FCCC0A;
    background-color:#FCCC0A;
}
.Line_7 {
    stroke:#808183;
    fill:#808183;
    background-color:#808183;
}
.Line_8{
    stroke:#EE352E;
    fill:#EE352E;
    background-color:#EE352E;
	}
.Line_9{
    stroke:#00933C;
    fill:#00933C;
    background-color:#00933C;
}
.Line_0 {
    stroke:#009933;
    fill:#009933;
    background-color:#009933;
}